{% if service.status == "UP" %}
    {% set serviceAlertLevel = "success" %}
{% else %}
    {% set serviceAlertLevel = "danger" %}
{% endif %}

<div class="border p-2 border-white alert-{{ serviceAlertLevel }}" style="min-width: 28rem;">
    <h2 class="text-center text-uppercase">{{ service.name }} - {{ service.status }}</h2>
    <ul>
        {% for name, details in service.details %}
            {% if details.status == "UP" %}
                {% set dependencyAlertLevel = "success" %}
            {% else %}
                {% set dependencyAlertLevel = "danger" %}
            {% endif %}
            <li class="alert-{{ dependencyAlertLevel }}">{{ name }} - {{ details.status }}</li>
        {% endfor %}
        <p>{{ service.message }}</p>
    </ul>
</div>
