{% if service.status == "UP" %}
    {% set alertLevel = "success" %}
{% else %}
    {% set alertLevel = "danger" %}
{% endif %}

<div class="border p-2 border-white alert-{{ alertLevel }}" style="min-width: 28rem;">
    <h2 class="text-center text-uppercase">{{ service.name }} - {{ service.status }}</h2>
    <ul>
        {% for name, details in service.details %}
            <li>{{ name }} - {{ details.status }}</li>
        {% endfor %}
        <p>{{ service.message }}</p>
    </ul>
</div>
